#myPlayerID {
    height: 60%;
    width: 100%;
  }

  :root {
    --barwidth: 15%;
   
  }
  
  #custom-seekbar
{  
    position: absolute;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-top: 2px solid #0CF3E1;
  border-bottom: 2px solid #0CF3E1;

}
#custom-seekbar span
{
  position: relative;
  background-color: #0CF3E1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}

#test
{    
    position: absolute;
    background-color: red;
    height: 100%;
    width: 20%;
    z-index: 9;
    pointer-events:none;        
    margin-left: 69%;
    opacity: .8;
}

#test2
{  
  height: 10%;
  margin-top: 5%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#selector
{
  background-color: #181818;
  border-top: 2px solid #0CF3E1;
  border-bottom: 2px solid #0CF3E1;
  border-right: 2px solid #0CF3E1;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 40px 2px;
  cursor: pointer;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#cracks
{
  height: 100%;
  width: 11%;
  background-color: #d63031;
  opacity: .8;
  margin-left: 5%;
  border-radius: 1em;
  text-align: center;
  padding-top: .8em;
  color: white;
  float:left;
}

#root
{
  height: 100%;
  width: 11%;
  background-color: #6ab04c;
  opacity: .8;
  margin-left: var(--barwidth);
  border-radius: 1em;
  text-align: center;
  padding-top: .8em;
  color: white;
  float:left;
}

#obstacle
{
  height: 100%;
  width: 11%;
  background-color: #0984e3;
  opacity: .8;
  margin-left:  var(--barwidth);
  border-radius: 1em;
  text-align: center;
  padding-top: .8em;
  color: white;
  float:left;
}


#displace
{
  height: 100%;
  width: 11%;
  background-color: #2d3436;
  opacity: .8;
  margin-left:  var(--barwidth);
  border-radius: 1em;
  text-align: center;
  padding-top: .8em;
  color: white;
  float:left;
}


#wrapper
{
  height: 5%;
  width: 100%;
}
